<!-- Seccion acerca de  -->
<div class="card">
    <div class="row justify-content-between align-items-center">
        <div class="col-6 titulosResaltados">
            Acerca de
        </div>
        <div class="col-2 d-flex justify-content-end">

            <a href=" https://es.123rf.com/photo_75401422_acerca-de-nosotros-icono-acerca-de-nosotros-bot%C3%B3n-p%C3%A1gina-web-sobre-fondo-blanco-.html">
                <i class="fa fa-pen-to-square"></i>
            </a>
        </div>
    </div>
    <div class="letraComunContenido ">{{acercaDe}} </div>
</div>