<!-- Seccion proyectos  -->
<div class="card ">
    <div class="row justify-content-between align-items-center">
        <div class="col-10 titulosResaltados">
            Proyectos
        </div>
        <div class="col-2 d-flex justify-content-end">
            <button class="btn" (click)="openFormModal('crear')" *ngIf="(estaLogueado | async)">
                <span class="icono">
                <fa-icon [icon]="addIcon" size="lg"></fa-icon>
              </span>
          </button>
        </div>
    </div>
    <div *ngFor="let proyecto of proyectosList, index as indexOfelement ">
        <div class="row py-3">
            <div class="col-10">
                <a class="text-decoration-none h4 titulosResaltadosCeleste" [href]="proyecto.proyectoUrl" target="_blank">
                    {{proyecto.titulo}}
                </a>
                <div class="letraComunContenido ">{{proyecto.descripcion}}</div>
                <div class="letraComunContenido ">Fecha de realización: {{proyecto.fechaRealizacion}}</div>
            </div>
            <div class="col-2 d-flex justify-content-end">
                <div class="nav nav-pills ">

                    <button class="btn" (click)="openFormModal('edit',  indexOfelement)" *ngIf="(estaLogueado | async)">
                        <span class="icono">
                        <fa-icon [icon]="editIcon" size="lg"></fa-icon>
                      </span>
                  </button>


                    <button class="btn" (click)="openEliminar(indexOfelement)" *ngIf="(estaLogueado | async)">
                        <span class="icono">
                        <fa-icon [icon]="deleteIcon" size="lg"></fa-icon>
                      </span>
                  </button>
                </div>
            </div>
        </div>
    </div>

    <!--form modal proyectos-->
    <div class="modal fade" id="modalProyectos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" *ngIf="esEditar">Editar Proyecto</h5>
                    <h5 class="modal-title" id="exampleModalLabel" *ngIf="!esEditar">Crear Proyecto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form [formGroup]="form" (ngSubmit)="save($event, esEditar, index )">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="titulo" class="form-label">Título:</label>
                            <input formControlName="titulo" class="form-control" id="titulo" aria-describedby="tituloHelp">
                            <div *ngIf="form.get('titulo')?.errors && form.get('titulo')?.touched">
                                <p *ngIf="form.get('titulo')?.hasError('required')" class="text-danger">
                                    El nombre del proyecto es requerido.
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción:</label>
                            <input formControlName="descripcion" class="form-control" id="descripcion" aria-describedby="descripcionHelp">
                            <div *ngIf="form.get('descripcion')?.errors && form.get('descripcion')?.touched">
                                <p *ngIf="form.get('descripcion')?.hasError('required')" class="text-danger">
                                    La descripción del proyecto requerida.
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="fechaRealizacion" class="form-label">Fecha Realización:</label>
                            <input formControlName="fechaRealizacion" class="form-control" id="fechaRealizacion" aria-describedby="fecharealizacionHelp">
                            <div *ngIf="form.get('fechaRealizacion')?.errors && form.get('fechaRealizacion')?.touched">
                                <p *ngIf="form.get('fechaRealizacion')?.hasError('required')" class="text-danger">
                                    La fecha de realización del proyecto requerida.
                                </p>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="proyectoUrl" class="form-label">Proyecto Url:</label>
                            <input formControlName="proyectoUrl" class="form-control" id="proyectoUrl" aria-describedby="proyectoUrlHelp">
                            <div *ngIf="form.get('proyectoUrl')?.errors && form.get('proyectoUrl')?.touched">
                                <p *ngIf="form.get('proyectoUrl')?.hasError('required')" class="text-danger">
                                    La Url del proyecto es requerida.
                                </p>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary"[disabled]="form.invalid">
                              Guardar Cambios
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--form modal Eliminar skills-->
    <div class="modal fade" id="modalEliminarProyectos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{tituloEliminar}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        {{mensajeEliminar}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="eliminar()">
              Eliminar
            </button>
                </div>
            </div>
        </div>
    </div>
</div>
