.titulosResaltadosCeleste {
    color: rgb(25, 135, 238);
    font-size: x-large;
    font-weight: lighter;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
