.header {
    background-color: rgb(243, 243, 243);
    height: 50px;
    justify-content: center;
}

.bannerContainer {
    position: relative;
}

.nombreContainer {
    display: flex;
    align-items: center;
}

.iconoBanner {
    color: rgb(190, 190, 190);
    position: absolute;
    top: 20px;
    right: 40px
}

.imagenArriba {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.imgPerfilContainer {
    margin-top: -100px;
    margin-left: 20px;
    z-index: 2;
    flex-direction: column;
    position: relative;
}

.imgCirculoPerfil {
    object-fit: cover;
}

.nombreCompleto {
    color: rgb(29, 4, 4);
    font-size: xx-large;
    font-weight: 500;
    font-style: inherit;
    border-radius: 20px;
    margin-right: 15px
}

.argentinaPrograma {
    padding-left: 3px;
    padding-right: 3px;
    width: 100px;
}
