<!-- Seccion header -->

<header class="d-flex flex-wrap justify-content-center p-1 header">
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span style="margin-left: 10px;">Marcela Viana</span>
    </div>

    <ul class="nav nav-pills  align-items-center">
        <li class="nav-item logo">
            <a href="https://www.facebook.com/selene.sele.9" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="./assets/imagenes/facebook.png" class="imgLogoHeader" />
            </a>
        </li>
        <li class="nav-item logo">
            <a href="https://www.instagram.com/?hl=es-la" class="d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="./assets/imagenes/instagram.png" class="imgLogoHeader" />
            </a>
        </li>
        <li class="nav-item logo">
            <a href="https://www.linkedin.com/feed/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="./assets/imagenes/linkedin.png" class="imgLogoHeader" />
            </a>
        </li>
        <li class="nav-item logo">
            <a href="https://www.whatsapp.com/?lang=es" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="./assets/imagenes/whatsapp.png" class="imgLogoHeader" />
            </a>
        </li>
        <li class="nav-item logo">
            <a href="https://gestion.pe/resizer/WiPDqksjec_oLA7jzc8qYdD7faw=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/UTGBVQG5SNGDHIHXPVCK3OH5WE.jpg" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <button type="button" class="btn btn-primary btn-sm">
                        Login
                    </button>
            </a>
        </li>
    </ul>
</header>

<div class="content">

    <!-- Seccion info personal -->

    <div class="cardHeader">
        <div class="bannerContainer">
            <img class="imagenArriba" [src]="miPortfolio?.imagenHeader">
            <span class="iconoBanner">
              <button class="btn">
              <fa-icon [icon]="editIcon" size="lg"></fa-icon>
            </button>
            </span>
        </div>
        <div class="imgPerfilContainer">
            <img [src]="miPortfolio?.imagenPerfil" class="rounded-circle imgCirculoPerfil" width="150 " height="150 ">
            <a href="./assets/imagenes/marce1.jpg" class="justify-content-end mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="icono">
                <fa-icon [icon]="editIcon" size="lg"></fa-icon>
              </span>
            </a>
        </div>
        <div class="infoData">
            <div class="row">
                <div class=" col-8">
                    <div class="nombreContainer">
                        <h1 class="nombreCompleto">{{miPortfolio?.nombre}} {{miPortfolio?.apellido}}</h1>
                        <button class="btn" (click)="openFormModal()" *ngIf="estaLogueado">
                            <span class="icono">
                              <fa-icon [icon]="editIcon" size="lg"></fa-icon>
                            </span>
                        </button>
                    </div>
                    <div id="Info empresa ">{{miPortfolio?.ocupacion}}</div>
                    <div id="Info Contacto ">
                        <span> {{miPortfolio?.ciudad}} ({{miPortfolio?.pais}})</span>

                        <button type="button" class="btn btn-link" (click)="openformInfoContacto()">Información de contacto</button>

                    </div>
                </div>
                <div class="col-4">
                    <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" class="d-flex justify-content-end">
                        <img src="./assets/imagenes/ARGENTINA-PROGRAMA.jpg" class="botonLogoInstitucion" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--form modal infopersonal-->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form [formGroup]="form" (ngSubmit)="save($event)">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input formControlName="nombre" class="form-control" id="nombre" aria-describedby="nombreHelp">
                            <div *ngIf="form.get('nombre')?.errors && form.get('nombre')?.touched">
                                <p *ngIf="form.get('nombre')?.hasError('required')" class="text-danger">
                                    El nombre es requerido.
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input formControlName="apellido" class="form-control" id="apellido" aria-describedby="apellidoHelp">
                            <div *ngIf="apellido?.errors && apellido?.touched">
                                <p *ngIf="apellido?.hasError('required')" class="text-danger">
                                    El apellido es requerido.
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="ocupacion" class="form-label">Ocupación</label>
                            <input formControlName="ocupacion" class="form-control" id="ocupacion" aria-describedby="ocupacionHelp">
                            <div *ngIf="form.get('ocupacion')?.errors && form.get('ocupacion')?.touched">
                                <p *ngIf="form.get('ocupacion')?.hasError('required')" class="text-danger">
                                    La ocupación requerida.
                                </p>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="ciudad" class="form-label">Ciudad</label>
                            <input formControlName="ciudad" class="form-control" id="ciudad" aria-describedby="ciudadHelp">
                            <div *ngIf="form.get('ciudad')?.errors && form.get('ciudad')?.touched">
                                <p *ngIf="form.get('ciudad')?.hasError('required')" class="text-danger">
                                    La ciudad es requerida.
                                </p>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="pais" class="form-label">País</label>
                            <input formControlName="pais" class="form-control" id="pais" aria-describedby="paisHelp">
                            <div *ngIf="form.get('pais')?.errors && form.get('pais')?.touched">
                                <p *ngIf="form.get('pais')?.hasError('pais')" class="text-danger">
                                    El país es requerido.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                      Guardar Cambios
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--form modal-->
    <div class="modal fade" id="infoContacto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" *ngIf="estaLogueado">Editar Información de Contacto:</h5>
                    <h5 class="modal-title" id="exampleModalLabel" *ngIf="!estaLogueado">Información de Contacto:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form [formGroup]="form" (ngSubmit)="saveInfoContacto($event)">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="celular" class="form-label">Celular</label>
                            <input formControlName="celular" class="form-control" id="nombre" aria-describedby="celularHelp">
                            <div *ngIf="form.get('celular')?.errors && form.get('celular')?.touched">
                                <p *ngIf="form.get('celular')?.hasError('required')" class="text-danger">
                                    El número de celular es requerido.
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input formControlName="email" class="form-control" id="email" aria-describedby="emailHelp" [readonly]='!estaLogueado'>
                            <div *ngIf="email?.errors && email?.touched">
                                <p *ngIf="email?.hasError('required')" class="text-danger">
                                    El email es requerido.
                                </p>
                            </div>
                        </div>






                    </div>
                    <div class="modal-footer" *ngIf="estaLogueado">
                        <button type="submit" class="btn btn-primary">
                    Guardar Cambios
                  </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
