<!-- Seccion experiencia y educacion  -->
<div class="card ">
    <div class="row justify-content-between align-items-center">
        <div class="col-6 titulosResaltados">
            Experiencia
        </div>
        <div class="col-2 d-flex justify-content-end">
            <button class="btn" (click)="openFormModal('crear')" *ngIf="estaLogueado">
                <span class="icono">
                  <fa-icon [icon]="addIcon" size="lg"></fa-icon>
                </span>
          </button>
        </div>
    </div>
    <div *ngFor="let experiencia of experienciaList, index as indexOfelement ">
        <div class="row py-3">
            <div class="col-lg-1 d-lg-flex justify-content-end">
                <img [src]="experiencia.fotoUrl" class="imgInstitucion">
            </div>
            <div class="col-lg-11 d-flex justify-content-between">
                <div class="col-10">
                    <h5 class="card-title ">{{experiencia.institucion}}</h5>
                    <div class="card-text ">{{experiencia.cargo}}</div>
                    <div class="card-text ">{{experiencia.descripcion}}</div>
                    <div class="card-text "><small class="text-muted ">{{experiencia.fechaInicio}} - {{experiencia.fechaFin}} - {{experiencia.lugar}}</small></div>
                </div>
                <div>
                    <div class="nav nav-pills ">
                        <button class="btn" (click)="openFormModal('edit',  indexOfelement)" *ngIf="estaLogueado">
                            <span class="icono">
                            <fa-icon [icon]="editIcon" size="lg"></fa-icon>
                          </span>
                        </button>
                        <button class="btn" (click)="openEliminar('experiencia',  indexOfelement)" *ngIf="estaLogueado">
                            <span class="icono">
                            <fa-icon [icon]="deleteIcon" size="lg"></fa-icon>
                          </span>
                        </button>



                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="row justify-content-between align-items-center row py-3">
        <div class="col-6 titulosResaltados">
            Educación
        </div>
        <div class="col-2 d-flex justify-content-end">
            <button class="btn" (click)="openFormModalEducacion('crear')" *ngIf="estaLogueado">
                <span class="icono">
                  <fa-icon [icon]="addIcon" size="lg"></fa-icon>
                </span>
            </button>
        </div>
    </div>
    <div *ngFor="let educacion of educacionList, index as indexOfelement">
        <div class="row py-3">
            <div class="col-lg-1 d-lg-flex justify-content-end">
                <img [src]="educacion.fotoUrl" class="imgInstitucion">
            </div>
            <div class="col-lg-11 d-flex justify-content-between">
                <div class="col-10">
                    <h5 class="card-title ">{{educacion.institucion}}</h5>
                    <div class="card-text ">{{educacion.titulo}}</div>
                    <div class="card-text "><small class="text-muted ">{{educacion.fechaInicio}} - {{educacion.fechaFin}} - {{educacion.lugar}}</small></div>
                </div>
                <div>
                    <div class="nav nav-pills ">
                        <button class="btn" (click)="openFormModalEducacion('edit',  indexOfelement)" *ngIf="estaLogueado">
                            <span class="icono">
                              <fa-icon [icon]="editIcon" size="lg"></fa-icon>
                            </span>
                        </button>
                        <button class="btn" (click)="openEliminar('educacion',  indexOfelement)" *ngIf="estaLogueado">
                        <span class="icono">
                              <fa-icon [icon]="deleteIcon" size="lg"></fa-icon>
                            </span>
                        </button>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--form modal experiencia-->
    <div class="modal fade" id="modalExperiencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" *ngIf="esEditar">Editar Experiencia</h5>
                    <h5 class="modal-title" id="exampleModalLabel" *ngIf="!esEditar">crear Experiencia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form [formGroup]="form" (ngSubmit)="save($event, esEditar, index )">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="institucion" class="form-label">Institución</label>
                            <input formControlName="institucion" class="form-control" id="institucion" aria-describedby="institucionHelp">
                            <div *ngIf="form.get('institucion')?.errors && form.get('institucion')?.touched">
                                <p *ngIf="form.get('institucion')?.hasError('required')" class="text-danger">
                                    El nombre de la Institución es requerido.
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="fotoUrl" class="form-label">Logo Institucion</label>
                            <input formControlName="fotoUrl" class="form-control" id="fotoUrl" aria-describedby="logoInstitucionHelp">
                            <div *ngIf="form.get('fotoUrl')?.errors && form.get('fotoUrl')?.touched">
                                <p *ngIf="form.get('fotoUrl')?.hasError('required')" class="text-danger">
                                    Adjunte por favor Logo Institución.
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="cargo" class="form-label">Cargo</label>
                            <input formControlName="cargo" class="form-control" id="cargo" aria-describedby="cargoHelp">
                            <div *ngIf="form.get('cargo')?.errors && form.get('cargo')?.touched">
                                <p *ngIf="form.get('cargo')?.hasError('required')" class="text-danger">
                                    La ocupación requerida.
                                </p>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <input formControlName="descripcion" class="form-control" id="descripcion" aria-describedby="descripcionHelp">
                            <div *ngIf="form.get('descripcion')?.errors && form.get('descripcion')?.touched">
                                <p *ngIf="form.get('descripcion')?.hasError('required')" class="text-danger">
                                    Por favor describa el trabajo desarrolado en dicha Institución.
                                </p>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="fechaInicio" class="form-label">Fecha Inicio:</label>
                            <input formControlName="fechaInicio" class="form-control" id="fechaInicio" aria-describedby="fechaInicioHelp">
                            <div *ngIf="form.get('fechaInicio')?.errors && form.get('fechaInicio')?.touched">
                                <p *ngIf="form.get('fechaInicio')?.hasError('fechaInicio')" class="text-danger">
                                    Ingrese por favor la fecha de inicio.
                                </p>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="fechaFin" class="form-label">Fecha Fin:</label>
                            <input formControlName="fechaFin" class="form-control" id="fechaFin" aria-describedby="fechaFinHelp">
                            <div *ngIf="form.get('fechaFin')?.errors && form.get('fechaFin')?.touched">
                                <p *ngIf="form.get('fechaFin')?.hasError('fechaFin')" class="text-danger">
                                    Ingrese por favor la fecha de finalización laboral.
                                </p>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="lugar" class="form-label">Ciudad:</label>
                            <input formControlName="lugar" class="form-control" id="lugar" aria-describedby="ciudadHelp">
                            <div *ngIf="form.get('lugar')?.errors && form.get('lugar')?.touched">
                                <p *ngIf="form.get('lugar')?.hasError('lugar')" class="text-danger">
                                    Ingrese por favor la ciudad en donde trabajó.
                                </p>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                Guardar Cambios
              </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--form modal Educacion-->
    <div class="modal fade" id="modalEducacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" *ngIf="esEditar">Editar Educacion</h5>
                    <h5 class="modal-title" id="exampleModalLabel" *ngIf="!esEditar">Crear Educacion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form [formGroup]="formEducacion" (ngSubmit)="saveEducacion($event, esEditar, index )">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="institucion" class="form-label">Institución</label>
                            <input formControlName="institucion" class="form-control" id="institucion" aria-describedby="institucionHelp">
                            <div *ngIf="form.get('institucion')?.errors && form.get('institucion')?.touched">
                                <p *ngIf="form.get('institucion')?.hasError('required')" class="text-danger">
                                    El nombre de la Institución es requerido.
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="fotoUrl" class="form-label">Logo Institucion</label>
                            <input formControlName="fotoUrl" class="form-control" id="fotoUrl" aria-describedby="logoInstitucionHelp">
                            <div *ngIf="form.get('fotoUrl')?.errors && form.get('fotoUrl')?.touched">
                                <p *ngIf="form.get('fotoUrl')?.hasError('required')" class="text-danger">
                                    Adjunte por favor Logo Institución.
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="titulo" class="form-label">Titulo</label>
                            <input formControlName="titulo" class="form-control" id="titulo" aria-describedby="cargoHelp">
                            <div *ngIf="form.get('titulo')?.errors && form.get('titulo')?.touched">
                                <p *ngIf="form.get('titulo')?.hasError('required')" class="text-danger">
                                    El titulo es requerido.
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="fechaInicio" class="form-label">Fecha Inicio:</label>
                            <input formControlName="fechaInicio" class="form-control" id="fechaInicio" aria-describedby="fechaInicioHelp">
                            <div *ngIf="form.get('fechaInicio')?.errors && form.get('fechaInicio')?.touched">
                                <p *ngIf="form.get('fechaInicio')?.hasError('fechaInicio')" class="text-danger">
                                    Ingrese por favor la fecha de inicio.
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="fechaFin" class="form-label">Fecha Fin:</label>
                            <input formControlName="fechaFin" class="form-control" id="fechaFin" aria-describedby="fechaFinHelp">
                            <div *ngIf="form.get('fechaFin')?.errors && form.get('fechaFin')?.touched">
                                <p *ngIf="form.get('fechaFin')?.hasError('fechaFin')" class="text-danger">
                                    Ingrese por favor la fecha de finalización laboral.
                                </p>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="lugar" class="form-label">Ciudad:</label>
                            <input formControlName="lugar" class="form-control" id="lugar" aria-describedby="ciudadHelp">
                            <div *ngIf="form.get('lugar')?.errors && form.get('lugar')?.touched">
                                <p *ngIf="form.get('lugar')?.hasError('lugar')" class="text-danger">
                                    Ingrese por favor la ciudad en donde estudió.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
              Guardar Cambios
            </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--form modal Eliminar Educacion-->
    <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{tituloEliminar}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        {{mensajeEliminar}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="eliminar()">
                      Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>