<!-- Seccion experiencia y educacion  -->
<div class="card ">
    <div class="row justify-content-between align-items-center">
        <div class="col-8 titulosResaltados">
            Experiencia
        </div>
        <div class="col-2 d-flex justify-content-end">
            <button class="btn" (click)="openFormModal('crear')" *ngIf="(estaLogueado | async)">
                <span class="icono">
                  <fa-icon [icon]="addIcon" size="lg"></fa-icon>
                </span>
          </button>
        </div>
    </div>
    <div *ngFor="let experiencia of experienciaList, index as indexOfelement ">
        <div class="row py-3">
            <div class="col-lg-1 d-lg-flex justify-content-end">
                <img [src]="experiencia.fotoUrl" class="imgInstitucion">
            </div>
            <div class="col-lg-11 d-flex justify-content-between">
                <div class="col-10">
                    <h5 class="card-title ">{{experiencia.institucion}}</h5>
                    <div class="card-text ">{{experiencia.cargo}}</div>
                    <div class="card-text ">{{experiencia.descripcion}}</div>
                    <div class="card-text "><small class="text-muted ">{{experiencia.fechaInicio}} - {{experiencia.fechaFin}} - {{experiencia.lugar}}</small></div>
                </div>
                <div>
                    <div class="nav nav-pills ">
                        <button class="btn" (click)="openFormModal('edit',  indexOfelement)" *ngIf="(estaLogueado | async)">
                            <span class="icono">
                            <fa-icon [icon]="editIcon" size="lg"></fa-icon>
                          </span>
                        </button>
                        <button class="btn" (click)="openEliminar('experiencia',  indexOfelement)" *ngIf="(estaLogueado | async)">
                            <span class="icono">
                            <fa-icon [icon]="deleteIcon" size="lg"></fa-icon>
                          </span>
                        </button>



                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="row justify-content-between align-items-center row py-3">
        <div class="col-8 titulosResaltados">
            Educación
        </div>
        <div class="col-2 d-flex justify-content-end">
            <button class="btn" (click)="openFormModalEducacion('crear')" *ngIf="(estaLogueado | async)">
                <span class="icono">
                  <fa-icon [icon]="addIcon" size="lg"></fa-icon>
                </span>
            </button>
        </div>
    </div>
    <div *ngFor="let educacion of educacionList, index as indexOfelement">
        <div class="row py-3">
            <div class="col-lg-1 d-lg-flex justify-content-end">
                <img [src]="educacion.fotoUrl" class="imgInstitucion">
            </div>
            <div class="col-lg-11 d-flex justify-content-between">
                <div class="col-10">
                    <h5 class="card-title ">{{educacion.institucion}}</h5>
                    <div class="card-text ">{{educacion.titulo}}</div>
                    <div class="card-text "><small class="text-muted ">{{educacion.fechaInicio}} - {{educacion.fechaFin}} - {{educacion.lugar}}</small></div>
                </div>
                <div>
                    <div class="nav nav-pills ">
                        <button class="btn" (click)="openFormModalEducacion('edit',  indexOfelement)" *ngIf="(estaLogueado | async)">
                            <span class="icono">
                              <fa-icon [icon]="editIcon" size="lg"></fa-icon>
                            </span>
                        </button>
                        <button class="btn" (click)="openEliminar('educacion',  indexOfelement)" *ngIf="(estaLogueado | async)">
                        <span class="icono">
                              <fa-icon [icon]="deleteIcon" size="lg"></fa-icon>
                            </span>
                        </button>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--form modal experiencia-->
    <div class="modal fade" id="modalExperiencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" *ngIf="esEditar">Editar Experiencia</h5>
                    <h5 class="modal-title" id="exampleModalLabel" *ngIf="!esEditar">crear Experiencia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form [formGroup]="form" (ngSubmit)="handleSaveExperiencia($event, esEditar, index )">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="institucion" class="form-label">Institución</label>
                            <input formControlName="institucion" class="form-control" id="institucion" aria-describedby="institucionHelp">
                            <div *ngIf="form.get('institucion')?.errors && form.get('institucion')?.touched">
                                <p *ngIf="form.get('institucion')?.hasError('required')" class="text-danger">
                                    El nombre de la Institución es requerido.
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="imagen" class="form-label">Logo Institucion</label>
                            <input type="file" formControlName="imagen" accept="image/*" class="form-control" id="imagen" aria-describedby="logoInstitucionHelp" (change)="cambioArchivo($event)">
                        </div>
                        <div class="mb-3">
                            <label for="cargo" class="form-label">Cargo</label>
                            <input formControlName="cargo" class="form-control" id="cargo" aria-describedby="cargoHelp">
                            <div *ngIf="form.get('cargo')?.errors && form.get('cargo')?.touched">
                                <p *ngIf="form.get('cargo')?.hasError('required')" class="text-danger">
                                    El cargo es requerido.
                                </p>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <input formControlName="descripcion" class="form-control" id="descripcion" aria-describedby="descripcionHelp">
                            <div *ngIf="form.get('descripcion')?.errors && form.get('descripcion')?.touched">
                                <p *ngIf="form.get('descripcion')?.hasError('required')" class="text-danger">
                                    Por favor describa el trabajo desarrolado en dicha Institución.
                                </p>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <label for="fechaInicio" class="form-label">Fecha Inicio:</label>
                            <div class="input-group">
                            <input formControlName="fechaInicio" class="form-control" id="fechaInicio" aria-describedby="fechaInicioHelp" placeholder="dd/mm/aaaa"
                            name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" (click)="d.toggle()">
                                <fa-icon [icon]="calendarIcon" size="lg"></fa-icon>
                              </button>
                            </div>
                          </div>

                            <div *ngIf="form.get('fechaInicio')?.errors && form.get('fechaInicio')?.touched">
                                <p *ngIf="form.get('fechaInicio')?.hasError('required')" class="text-danger">
                                    Ingrese por favor la fecha de inicio.
                                </p>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <label for="fechaFin" class="form-label">Fecha Fin:</label>
                            <div class="input-group">
                              <input formControlName="fechaFin" class="form-control" id="fechaFin" aria-describedby="fechaFinHelp" placeholder="dd/mm/aaaa" name="dp2" [(ngModel)]="modelFin" ngbDatepicker #dFin="ngbDatepicker">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" (click)="dFin.toggle()">
                                  <fa-icon [icon]="calendarIcon" size="lg"></fa-icon>
                                </button>
                              </div>
                            </div>
                            <div *ngIf="form.get('fechaFin')?.errors && form.get('fechaFin')?.touched">
                                <p *ngIf="form.get('fechaFin')?.hasError('required')" class="text-danger">
                                    Ingrese por favor la fecha de finalización laboral.
                                </p>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="lugar" class="form-label">Ciudad:</label>
                            <input formControlName="lugar" class="form-control" id="lugar" aria-describedby="ciudadHelp">
                            <div *ngIf="form.get('lugar')?.errors && form.get('lugar')?.touched">
                                <p *ngIf="form.get('lugar')?.hasError('required')" class="text-danger">
                                    Ingrese por favor la ciudad en donde trabajó.
                                </p>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary isLoading" [disabled]="form.invalid">
                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="(isUploading)"></span>
                          {{isUploading ? "Guardando cambios": "Guardar cambios"}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--form modal Educacion-->
    <div class="modal fade" id="modalEducacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" *ngIf="esEditar">Editar Educacion</h5>
                    <h5 class="modal-title" id="exampleModalLabel" *ngIf="!esEditar">Crear Educacion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form [formGroup]="formEducacion" (ngSubmit)="handleSaveEducacion($event, esEditar, index )">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="institucion" class="form-label">Institución</label>
                            <input formControlName="institucion" class="form-control" id="institucion" aria-describedby="institucionHelp">
                            <div *ngIf="formEducacion.get('institucion')?.errors && formEducacion.get('institucion')?.touched">
                                <p *ngIf="formEducacion.get('institucion')?.hasError('required')" class="text-danger">
                                    El nombre de la Institución es requerido.
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="imagen" class="form-label">Logo Institucion</label>
                            <input type="file" formControlName="imagen" class="form-control" id="imagen" aria-describedby="logoInstitucionHelp" (change)="cambioArchivo($event)">

                        </div>
                        <div class="mb-3">
                            <label for="titulo" class="form-label">Título</label>
                            <input formControlName="titulo" class="form-control" id="titulo" aria-describedby="cargoHelp">
                            <div *ngIf="formEducacion.get('titulo')?.errors && formEducacion.get('titulo')?.touched">
                                <p *ngIf="formEducacion.get('titulo')?.hasError('required')" class="text-danger">
                                    El título es requerido.
                                </p>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label for="fechaInicio" class="form-label">Fecha Inicio:</label>
                            <div class="input-group">
                              <input formControlName="fechaInicio" class="form-control" id="fechaInicio" aria-describedby="fechaInicioHelp" placeholder="dd/mm/aaaa" name="dp3" [(ngModel)]="modelEducacionInicio" ngbDatepicker #dEducacionInicio="ngbDatepicker">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" (click)="dEducacionInicio.toggle()">
                                  <fa-icon [icon]="calendarIcon" size="lg"></fa-icon>
                                </button>
                              </div>
                            </div>
                            <div *ngIf="formEducacion.get('fechaInicio')?.errors && formEducacion.get('fechaInicio')?.touched">
                                <p *ngIf="formEducacion.get('fechaInicio')?.hasError('required')" class="text-danger">
                                    Ingrese por favor la fecha de inicio.
                                </p>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label for="fechaFin" class="form-label">Fecha Fin:</label>
                            <div class="input-group">
                              <input formControlName="fechaFin" class="form-control" id="fechaFin" aria-describedby="fechaFinHelp" placeholder="dd/mm/aaaa" name="dp4" [(ngModel)]="modelEducacionFin" ngbDatepicker #dEducacionFin="ngbDatepicker">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" (click)="dEducacionFin.toggle()">
                                  <fa-icon [icon]="calendarIcon" size="lg"></fa-icon>
                                </button>
                              </div>
                            </div>
                            <div *ngIf="formEducacion.get('fechaFin')?.errors && formEducacion.get('fechaFin')?.touched">
                                <p *ngIf="formEducacion.get('fechaFin')?.hasError('required')" class="text-danger">
                                    Ingrese por favor la fecha de finalización laboral.
                                </p>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="lugar" class="form-label">Ciudad:</label>
                              <input formControlName="lugar" class="form-control" id="lugar" aria-describedby="ciudadHelp">
                            <div *ngIf="formEducacion.get('lugar')?.errors && formEducacion.get('lugar')?.touched">
                                <p *ngIf="formEducacion.get('lugar')?.hasError('required')" class="text-danger">
                                    Ingrese por favor la ciudad en donde estudió.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" [disabled]="formEducacion.invalid">
                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="(isUploading)"></span>
                          {{isUploading ? "Guardando cambios": "Guardar cambios"}}
                         </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--form modal Eliminar Educacion-->
    <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{tituloEliminar}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        {{mensajeEliminar}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="eliminar()">
                      Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
